<app-nav-menu></app-nav-menu>
<router-outlet></router-outlet>

<h1 id="tableLabel">Flights Data</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!flights"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="flights">
  <thead>
    <tr>
      <th>Airline Name</th>
      <th>Price</th>
      <th>Remaining Seats</th>
      <th>Arrival Place</th>
      <th>Arrival Date</th>
      <th>Departure Place</th>
      <th>Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <td>{{ flight.airline }}</td>
      <td>{{ flight.price }}</td>
      <td>{{ flight.remainingNumberOfSeats }}</td>
      <td>{{ flight.arrival.place }}</td>
      <td>{{ flight.arrival.time | date:"medium" }}</td>
      <td>{{ flight.departure.place }}</td>
      <td>{{ flight.departure.time | date:"medium" }}</td>
    </tr>
  </tbody>
</table>
